<% @page_title = 'ステージ3' %>

<% content_for :stage_header do %>
  <p id="story">ステージ3</p>
  <p id="mis">ミッション：ずんだ堂<%= image_tag 'zunda.png', alt: 'ずんだ堂の画像' %>とスーパー<%= image_tag 'superm.png', alt: 'スーパーの画像' %>を通って、果物とわがしを買おう！そして、病院<%= image_tag 'hospital.png', alt: '病院の画像'%>にみちびこう！！</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('motion03.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon" onclick="help_button()">
      <p id="help_text_before">ここをクリックしたら「ヘルプ」がひょうじされるよ！</p>
      <p id="help_text_after" style="display: none">青いかんばんにぶつかると矢印の方を向くよ</p>
    </div>
    <%= image_tag('favicon.png', id: 'help-pic') %>
  </div>
</div>

<div class="enchant-wrapper">
  <div id="enchant-stage">
    <%= javascript_include_tag 'stage/stage3/stage3' %>
  </div>
</div>
<%= form_tag ending_novel_path, id: :ending_novel, method: :get %>
