<% @page_title = 'ステージ1' %>

<% content_for :stage_header do %>
  <p id="story">ステージ1</p>
  <p id="mis">ミッション：お花屋さん<%= image_tag 'flolist.png', alt: 'お花屋さんの画像'%>を通って、お花を買おう。そして、小豆ちゃんをゴール<%= image_tag 'flag.png', alt: 'ゴールの画像'%>に届けよう!!</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('motion03.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon" onclick="help_button()">
      <p id="help_text_before">ここをクリックしたら「ヘルプ」が表示されるよ！</p>
      <p id="help_text_after" style="display: none">家から出てすぐ右に行くルートも考えてみよう！</p>
    </div>
    <%= image_tag('favicon.png', id: 'help-pic') %>
  </div>
</div>

<div class="enchant-wrapper">
  <div id="enchant-stage">
    <%= javascript_include_tag 'stage/stage1/stage1' %>
  </div>
</div>
<%= form_tag stage1_novel_path, id: :stage1_novel, method: :get %>
