<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
  </head>
  <body>
    <div class="stagewrapper">
      <!-- ヘッダ -->
      <%= render 'shared/stage_header' %>
      <!-- 本体 -->
      <%= render 'shared/flash' %>
      <div class="inner-stagewrapper">
        <%= yield %>
      </div>
      <!-- フッタ -->
      <%# render 'shared/footer' %>
    </div>
  </body>
</html>
