<%= link_to '管理者トップ', :admin_root, class: "navbar-brand" %>
<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'ユーザ一覧', :admin_users %></li>
    <li><%= link_to '商品一覧', :admin_products %></li>
    <li><%= link_to '注文一覧', :admin_orders %></li>
    <li><%= link_to 'セッティング', :admin_rules %></li>
    <li><%= link_to current_user.email + 'さん', edit_user_path(current_user) %></li>
    <li><%= link_to '表画面', :root %></li>
    <li><%= link_to 'ログアウト', login_path, method: :delete %></li>
  </ul>
</div>
