<%= form_for [@user, @order], class: 'form-horizontal' do |f| %>
  <%= f.fields_for :product do |ff| %>

    <div class="form-group">
      <%= ff.label :created_at, class: 'control-label col-md-12' %>
      <div class="col-md-12">
        <%= ff.text_field :created_at, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= ff.label 'ご請求金額', class: 'control-label col-md-12' %>
      <div class="col-md-12">
        <%= ff.number_field :price, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :payment, class: 'control-label col-md-12' %>
      <div class="col-md-3">
        <%= f.select :payment, Order.payment.options, {prompt: true},
          class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :zipcode, class: 'control-label col-md-12' %>
      <div class="col-md-2">
        <span>〒</span>
        <%= f.text_field :zipcode, class: 'form-control', disabled: true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :dest, class: 'control-label col-md-12' %>
      <div class="col-md-12">
        <%= f.text_field :dest, class: 'form-control', disabled: true %>
      </div>
    </div>

    <%= f.fields_for :wrapping do |ff| %>
      <div class="form-group">
        <%= ff.label :name, class: 'control-label col-md-12' %>
        <div class="col-md-3">
          <%= ff.text_field :name, class: 'form-control', disabled: true %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <label class="control-label col-md-12">商品画像</label>
      <div class="col-md-12">
        <%= image_tag(@order.product.image.url) %>
      </div>
    </div>

    <div class="form-group">
      <%= ff.label :name, class: 'control-label col-md-12' %>
      <div class="col-md-12">
        <%= ff.text_field :name, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= ff.label :price, class: 'control-label col-md-12' %>
      <div class="col-md-12">
        <%= ff.number_field :price, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= ff.label :weight, class: 'control-label col-md-12' %>
      <div class="col-md-12">
        <%= ff.number_field :weight, class: 'form-control', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= ff.label :note, class: 'control-label col-md-2' %>
      <div class="col-md-12">
        <%= ff.text_area :note, class: 'form-control', disabled: true %>
      </div>
    </div>
  <% end %>

  <%= f.fields_for :product do |ff| %>
    <div class="form-group">
      <b class="col-md-12">カテゴリ</b>
      <div class="chebox-inline col-md-12">
        <%= ff.collection_check_boxes :category_ids, Category.all, :id, :name do |fff| %>
          <%= fff.label { fff.check_box(disabled: true) + fff.text } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="col-md-offset-10 col-md-2">
    <%= link_to '注文をキャンセル', user_order_path(@user, @order), method: :delete, class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>
