<% @page_title = 'ギフトボックス確認' %>


<h2>ギフトボックス確認ページ</h2>

<%= nested_form_for @giftbox, class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <label class="control-label col-md-12">ボックスの選択</label>
    <div class="col-md-3">
      <%= f.hidden_field :box_id %>
      <%= f.select :box_id, @boxes, {}, disabled: true,  class: 'form-control' %>
    </div>
  </div>
  <%= f.fields_for :box_details do |ff| %>
    <%= ff.fields_for :product do |fff| %>
      <%= ff.hidden_field :product_id %>
      <div class="form-group">
        <%= fff.label :name, class: 'control-label col-md-12' %>
        <div class="col-md-12">
          <%= fff.text_field :name, disabled: true %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.submit '戻る', name: :back, class: 'col-md-offset-10 col-md-2 btn, btn-default' %>
    <%= f.submit 'ギフトの選択を確定する', class: 'col-md-offset-10 col-md-2 btn, btn-danger' %>
  </div>
<% end %>
